Service References/InsuranceOnlineWS/InsuranceService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GT.VdfTask.Common.TaskManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GT.VdfTask.Common.TaskManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPCTaskFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PCTaskFile" nillable="true" type="tns:PCTaskFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPCTaskFile" nillable="true" type="tns:ArrayOfPCTaskFile" />
  <xs:complexType name="PCTaskFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Explanation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileId" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JiraId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stream" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PCTaskFile" nillable="true" type="tns:PCTaskFile" />
</xs:schema>