Service References/InsuranceOnlineWS/InsuranceService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GT.Insurance.Common.Operation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GT.Insurance.Common.Operation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PCPermittedMarketingResultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovalVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CusID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMailApprove" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermittedChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermittedMarketingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermittedModifiedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermittedStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSApprove" type="xs:boolean" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelemarketingApprove" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PCPermittedMarketingResultDetail" nillable="true" type="tns:PCPermittedMarketingResultDetail" />
</xs:schema>