Service References/InsuranceOnlineWS/InsuranceService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GT.Insurance.Common.Vehicle" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GT.Insurance.Common.Vehicle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PCBentasPolicyVehicleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsbisNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChassisNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationOrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationSerialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PCBentasPolicyVehicleInfo" nillable="true" type="tns:PCBentasPolicyVehicleInfo" />
</xs:schema>